<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RealProject</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.holyshit.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <servlet-name>MainServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.holyshit.listener.CountLivingListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.holyshit.listener.DeleteSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ValidateCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffLogin</servlet-name>
    <servlet-class>com.holyshit.web.servlet.StaffLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNameNoServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ListNameNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DTreeNodeServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.DTreeNodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecurityLogout</servlet-name>
    <servlet-class>com.holyshit.web.servlet.SecurityLogout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowNodeServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ShowNodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPageProjectBudget</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ShowPageProjectBudget</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showPageFee</servlet-name>
    <servlet-class>com.holyshit.web.servlet.showPageFee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffListServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.StaffListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showWorkingTask</servlet-name>
    <servlet-class>com.holyshit.web.servlet.showWorkingTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitFee</servlet-name>
    <servlet-class>com.holyshit.web.servlet.SubmitFee</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/web/servlet/validatecode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffLogin</servlet-name>
    <url-pattern>/web/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNameNoServlet</servlet-name>
    <url-pattern>/servlet/ListNameNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DTreeNodeServlet</servlet-name>
    <url-pattern>/servlet/DTreeNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/web/servlet/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityLogout</servlet-name>
    <url-pattern>/web/servlet/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowNodeServlet</servlet-name>
    <url-pattern>/servlet/ShowNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPageProjectBudget</servlet-name>
    <url-pattern>/web/servlet/showbudgetpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showPageFee</servlet-name>
    <url-pattern>/web/servlet/showPageFee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffListServlet</servlet-name>
    <url-pattern>/web/servlet/staffListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showWorkingTask</servlet-name>
    <url-pattern>/web/servlet/showWorkingTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitFee</servlet-name>
    <url-pattern>/web/servlet/submitFee</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/error/error_500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error/error_404.jsp</location>
  </error-page>
</web-app>
