<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RealProject</display-name>
  <!-- 过滤器 -->
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.holyshit.filter.LoginFilter</filter-class>
  	
  </filter>
  
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/main.jsp</url-pattern>
  	<url-pattern>/AddUser.jsp</url-pattern>
  	<url-pattern>/PlanManagement_Newed.jsp</url-pattern>
  	<url-pattern>/PlanManagement_PerInCharge.jsp</url-pattern>
  	<url-pattern>/PlanManagement_NewMilestone.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  	<!-- <dispatcher>FORWARD</dispatcher> -->
  </filter-mapping>
  <!-- 监听器 -->
  <listener>
  	<listener-class>com.holyshit.listener.CountLivingListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.holyshit.listener.DeleteSessionListener</listener-class>
  </listener>
  
  <!-- servlet -->
  <servlet>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ValidateCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffLogin</servlet-name>
    <servlet-class>com.holyshit.web.servlet.StaffLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserLogoById</servlet-name>
    <servlet-class>com.holyshit.web.servlet.GetUserLogoById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListNameNoServlet</servlet-name>
    <servlet-class>com.holyshit.web.servlet.ListNameNoServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/web/servlet/validatecode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffLogin</servlet-name>
    <url-pattern>/web/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserLogoById</servlet-name>
    <url-pattern>/web/servlet/getuserlogobyid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNameNoServlet</servlet-name>
    <url-pattern>/servlet/ListNameNoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>

  </welcome-file-list>
  
  <!--  -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error_500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error_404.jsp</location>
  </error-page>
</web-app>