/* 新建阶段审核人文本框 */
#fozza1{
	background-color: white;
	border: 1px;
	width: 297.58px;
	position: absolute;
	left: 35.67%;
	top: 477.6px;
	display: block;
	z-index: 999;
}

/* 审核人下拉列表 */
#fozza2{
	cursor:default;
}

#fozza3{
	background-color: white;
	border: 1px;
	width: 297.58px;
	position: absolute;
	left: 35.67%;
	top: 400.6px;
	display: block;
	z-index: 999;
}