html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;

	background-color: #f7f5e6;
	font-family: SimHei;
	color:white;
	margin:0px;

}


header{
	height: 12%;
	width:100%;
	background-color: #333A56;
	overflow: hidden;
}
#notifNum{
	color:#fff;
	border-radius: 40%;
	padding:1px 4px;
	background-color: red;
}

#headerLeft{
	float:left;
	margin:25px 0px 25px 30px;
	padding-top: 5px;

}

#headerRight{
	float:right;
	margin:18px 100px 0px 0px;

}
#headerUser{
	padding-bottom: 15px;
} 


nav{
	float:left;
	background-color:#52658f;
	height:7%;
	width: 100%;
}

.menu{
	border-radius: 15%;
	border:solid black 1px;
	background-color: #333A56;
	padding:4px 5px;
	margin: 0px 40px 0px 30px;
	text-align: center;
	position: relative;
	top:10px;

}
#MPageLink{
	padding:9px;
}

a{
	text-decoration: none;
}
a{
	color: white;
}
a:hover{
	color:blue;
}

section{
	width:100%;
	color:#333A56;
}

#TaskShow{
	width:50%;
	margin:5% 25% 2% 25%;
    padding:3% 0% 3% 0%;
	background-color:#e8e8e8;
	border-radius: 10%;
	border:3px white solid;
}
#MileStone{
	width:49%;
	height:240px;
	margin:3% 25% 2% 25%;
	padding: 5px 10px;
	background-color: #ffffdf;
	text-align: center;
	border:3px solid white;
	border-radius: 5%;
	
}
form{
	display: table;
	margin:3% 25% 1% 25%;
	padding-top:5px;
	border:bold solid #333A56;
}

form textarea{
	width:140px;
	height:20px;
}

div.tableRow{
	display: table-row;
}
div.tableRow p{
	display: table-cell;
	vertical-align: top;
	padding:3px;
}
div.tableRow p:first-child{
	text-align: right;
}
/*代用
.tableAttribute{
	font-family: SimHei;

}
.tableContent{
	font-family: SimHei;
*/
.submit{
	border:thin solid ;
	background-color: #333A56;
	padding:4px;
	margin:0px 90px 5px 70px;
	border-radius: 15%;
}

footer{
	height:9%;
	width:100%;
	font-size: 120%;
	background-color: #333A56;
	text-align: center;
	padding-top: 10px;
	position: absolute;
	right:0px;
	bottom: 0px;

}
		 